<section class="c-tilesSection o-containerLarge u-textCenter">
  <div class="u-hideMobileDown">
    <ul class="c-tilesSection__tiles">
      {% for block in section.blocks %}
        <li class="c-tilesSection__tile">
          <div class="c-tile">
            <img class="c-tile__image" src="{{ block.settings.image | img_url: 'master' }}" />
            {%- if block.settings.title != blank -%}
              <h3 class="c-h3 c-tile__title">
                {{ block.settings.title }}
              </h3>
            {%- endif -%}
            {{ block.settings.text }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="c-tilesSection__slider u-relative u-hideDesktopUp">
    <div data-tile-slider>
      {% for block in section.blocks %}
        <div class="c-tilesSection__tile">
          <div class="c-tile">
            <img class="c-tile__image" src="{{ block.settings.image | img_url: 'master' }}" />
            {%- if block.settings.title != blank -%}
              <h3 class="c-h3 c-tile__title">
                {{ block.settings.title }}
              </h3>
            {%- endif -%}
            {{ block.settings.text }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Copy Tiles",
    "max_blocks": 3,
    "blocks":[
      {
        "type": "tile",
        "name": "Tile",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Copy Tiles",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
