{{ 'theme-header-main.css' | asset_url | stylesheet_tag }}

{% assign logo_text = "{{ logo_text }}" %}
{% assign login_text = "{{ login_text }}" %}
{% assign start_text = "{{ start_text }}" %}
{% assign account_text = "{{ account_text }}" %}
{% assign name_text = customer.first_name %}

{% comment %}{% endcomment %}

{% if section.settings.logo_text != blank %}{% assign logo_text = section.settings.logo_text %}{% endif %}
{% if section.settings.login_text != blank %}{% assign login_text = section.settings.login_text %}{% endif %}
{% if section.settings.account_text != blank %}{% assign account_text = section.settings.account_text %}{% endif %}
{% if section.settings.start_text != blank %}{% assign start_text = section.settings.start_text %}{% endif %}


<style>

  .scalePop {
    animation-duration: 225ms;
    animation-name: scalePop;
  }
  
  @keyframes scalePop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

</style>


<div class="c-headerMain" data-header-main>
  <div class="c-headerMain__wrapper o-containerLarge">

    <div class="c-headerMain__primary">

      <a href="/" class="c-headerMain__logo">
        <h1 class="c-headerMain__logoBox">
          {% if section.settings.logo_image %}
  <!--           <img class="c-headerMain__logoImage" 
              src="{{ section.settings.logo_image | img_url }}"
              alt="{{ section.settings.logo_image.alt }}" 
            /> -->
            <img 
              class="c-headerMain__logoImage"
              src="{{ section.settings.logo_image | img_url: 'master' }}"
              alt="{{ section.settings.logo_image.alt }}"
              style="max-width: 150px"/>
          {% else %}
            <span class="c-headerMain__logoText">{{ logo_text }}</span>
          {% endif %}
        </h1>
      </a>

      {% if linklists[section.settings.menu_list].links.size > 0 %}
        <ul class="c-headerMain__menuNav">
          {% for link in linklists[section.settings.menu_list].links %}
            <li class="c-headerMain__menuNavItem{% if link.active %}--active{% endif %}"><a href="{{ link.url }}" class="c-headerMain__menuNavLink">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>


    <div class="c-headerMain__secondary">      
      {% if customer %}
        <nav class="c-dropdown hoverOpen">
          <a href="/account#/shipments" class="c-headerMain__account">
            <span class="c-headerMain__nameText">Welcome back, {{name_text}}</span>
            <span class="c-headerMain__accountText">{{ account_text }}</span>
            {% if section.settings.account_image %}
              <img class="c-headerMain__accountImage"
                src="{{ section.settings.account_image | img_url }}"
                alt="{{ section.settings.account_image.alt }}" 
              />            
            {% endif %}
          </a>          
          <section class="c-dropdown__wrap">
            <a href="/account#/shipments">
              Upcoming Orders
            </a>
            <a href="/account#/details">
              Account Details
            </a>
            <a href="/account#/orders">
              Order History
            </a>     
            <a href="/account/logout" data-logout-link>
              Sign Out
            </a>                                
          </section>
        </nav>       
      {% else %}
        <a href="/account/login" class="c-headerMain__account">
          <span class="c-headerMain__accountText" style="grid-row: 1/3">{{ login_text }}</span>
          {% if section.settings.login_image %}
            <img class="c-headerMain__accountImage"
              src="{{ section.settings.login_image | img_url }}"
              alt="{{ section.settings.login_image.alt }}" 
            />
          {% endif %}
        </a>    
      {% endif %}
      <div class="c-headerMain__secondary--cart">
        <a href="/cart">{%- render 'icon-cart' -%}
          <span id="cartIcon"></span>
        </a>
      </div>           
      <button class="c-headerMain__start c-button c-button--isDefault c-button--isPrimary" data-get-started data-boxsize='12'>
        <span class="c-headerMain__startText">{{ start_text }}</span>        
      </button>
    </div>
  </div>
</div>

<script>
  const updateCartIcon = async () => {
    const { cartdrawer: { cartItems } } = JSON.parse(localStorage.getItem('vuex'))    
    const cartIcon = document.querySelector('.c-headerMain__secondary--cart')
    const cartNum = document.getElementById('cartIcon')      
    const totalCart = cartItems?.general.length + (cartItems?.box.length ? 1 : 0)    
    cartNum.textContent = totalCart  
    cartIcon.classList.add('scalePop')  
    setTimeout(()=> cartIcon.classList.remove('scalePop') , 750)  
  }
  updateCartIcon()

  document.addEventListener('swagCartAdded', e => {
    const { added } = e.detail
    if (added) setTimeout(()=> updateCartIcon(), 200)
  }, { once: true })  

</script>


{% schema %}
  {
    "name": "Header Main",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "id": "logo_image",
        "type": "image_picker",
        "label": "Logo Image"
      },
      {
        "id": "logo_text",
        "type": "text",
        "label": "Logo Text"
      },
      {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "link_list",
        "id": "menu_list",
        "label": "Menu List",
        "default": "main-menu"
      },      
      {
        "type": "header",
        "content": "Account"
      },     
      {
        "id": "account_text",
        "type": "text",
        "label": "Account Text"
      },
      {
        "id": "account_image",
        "type": "image_picker",
        "label": "Account Image"
      },
      {
        "type": "header",
        "content": "Login"
      },        
      {
        "id": "login_text",
        "type": "text",
        "label": "Login Text"
      },
      {
        "id": "login_image",
        "type": "image_picker",
        "label": "Login Image"
      },       
      {
        "type": "header",
        "content": "Get Started"
      },
      {
        "id": "start_text",
        "type": "text",
        "label": "Start Text"
      }
    ]
  }
{% endschema %}