{{ 'theme-header-main.css' | asset_url | stylesheet_tag }}

{% assign logo_text = "{{ logo_text }}" %}
{% assign promo_text = "{{ promo_text }}" %}
{% assign login_text = "{{ login_text }}" %}
{% assign account_text = "{{ account_text }}" %}
{% assign bundle_text = "{{ bundle_text }}" %}
{% assign name_text = customer.first_name %}

{% if section.settings.logo_text != blank %}{% assign logo_text = section.settings.logo_text %}{% endif %}
{% if section.settings.promo_text != blank %}{% assign promo_text = section.settings.promo_text %}{% endif %}
{% if section.settings.login_text != blank %}{% assign login_text = section.settings.login_text %}{% endif %}
{% if section.settings.account_text != blank %}{% assign account_text = section.settings.account_text %}{% endif %}
{% if section.settings.bundle_text != blank %}{% assign bundle_text = section.settings.bundle_text %}{% endif %}
{% if section.settings.bundle_heading != blank %}{% assign bundle_heading = section.settings.bundle_heading %}{% endif %}
{% if section.settings.bundle_copy != blank %}{% assign bundle_copy = section.settings.bundle_copy %}{% endif %}

<div class="c-headerMobile" data-header-main>
    <div class="c-headerMobile__main o-containerLarge">
      <div id="nav-burger-icon" class="c-headerMobile__icon">
        <span></span>
        <span></span>
        <span></span>      
      </div>
      <a href="/" class="c-headerMobile__logo">
          <h1 class="c-headerMobile__logoBox">
              {% if section.settings.logo_image %}
              <img class="c-headerMobile__logoImage" 
                  src="{{ section.settings.logo_image | img_url: 'master' }}"
                  alt="{{ section.settings.logo_image.alt }}" 
              />
              {% else %}
              <span class="c-headerMobile__logoText">{{ logo_text }}</span>
              {% endif %}
          </h1>
      </a>
      <div id="nav-profile-icon" class="c-headerMobile__icon">
          <img 
            class="c-headerMain__logoImage"
            src="{{ section.settings.profile_image | img_url: 'master' }}"
            alt="{{ section.settings.profile_image.alt }}"
            style="max-width: 150px"/>      
      </div>
  <!--     <div class="c-headerMobile__spacer">&nbsp;</div> -->
    </div>

    <div class="c-headerMobile__menu" id="mobNav-left">
      <div class="c-headerMobile__primary">
          {% if linklists[section.settings.menu_list].links.size > 0 %}
          <ul class="c-headerMobile__menuNav-primaryLinks">
              {% for link in linklists[section.settings.menu_list].links %}
              <li class="c-headerMobile__menuNavItem{% if link.active %}--active{% endif %}"><a href="{{ link.url }}" class="c-headerMobile__menuNavLink">{{ link.title }}</a></li>
              {% endfor %}
          </ul>
          {% endif %}

          {% if linklists[section.settings.secondary_menu_list].links.size > 0 %}
          <ul class="c-headerMobile__menuNav-secondaryLinks">
              {% for link in linklists[section.settings.secondary_menu_list].links %}
              <li class="c-headerMobile__menuNavItem{% if link.active %}--active{% endif %}"><a href="{{ link.url }}" class="c-headerMobile__menuNavLink">{{ link.title }}</a></li>
              {% endfor %}
          </ul>
          {% endif %}

          {% if section.settings.show_promo %}
            <a href="{{ section.settings.promo_link }}" class="c-headerMobile__promo">
                <span class="c-headerMobile__promoText">{{ promo_text }}</span>
            </a>
          {% endif %}
      </div>
      
      <div class="c-headerMobile__secondary">
        <h2 class="c-h1">{{ bundle_heading }}</h2>
        <p>{{ bundle_copy }}</p>
        <a href="pages/bundle/" class="c-button c-button--isDefault c-button--isPrimary" data-bundle-trigger>
            <span>{{ bundle_text }}</span>
        </a>
      </div>
    </div>

    <div class="c-headerMobile__menu portalMenu" id="mobNav-right">
      <div class="c-headerMobile__secondary">
        <div id="nav-close-x" class="open" onclick="closeNav('close')">
          <span></span>
          <span></span>
          <span></span>      
        </div>  
        {% if customer %}
          <h2>Welcome back, {{name_text}}</h2>
          <p class="u-opacity5 u-mrgBtm--sm">Account Links</p>
            {% if linklists[section.settings.acct_menu_list].links.size > 0 %}
              <ul class="c-headerMobile__menuNav-primaryLinks">
                  {% for link in linklists[section.settings.acct_menu_list].links %}
                  <li class="c-headerMobile__menuNavItem{% if link.active %}--active{% endif %}" onclick="closeNav('close')"><a href="{{ link.url }}" class="c-headerMobile__menuNavLink">{{ link.title }}</a></li>
                  {% endfor %}
              </ul>
            {% endif %}   
            <a href="/account/logout" data-logout-link>Sign Out</a>   
            <br> 
            <br>
            <hr>
        {% else %}
            <a href="/account/login" class="c-headerMobile__account">
            <span class="c-headerMobile__accountText">{{ login_text }}</span>
            </a>     
        {% endif %}              
      </div>
      
      <div class="c-headerMobile__secondary">
      </div>
    </div>    
</div>


<script>

const navIcon = document.getElementById('nav-burger-icon')
const profileIcon = document.getElementById('nav-profile-icon')
const mobileHeader = document.querySelector('.c-headerMobile')
const menuLf = document.getElementById('mobNav-left')
const menuRt = document.getElementById('mobNav-right')
const body = document.querySelector('body')
document.querySelector('html').style.paddingBottom = '0'
let scrollP

const menuToggle = icon => {
  icon.addEventListener('click', function(e) {
    this.classList.toggle('open')
    this.classList.contains('open') ? openNav(icon) : closeNav(icon) 
  })
}

menuToggle(navIcon)
menuToggle(profileIcon)

function openNav(icon) {
  document.querySelector('html').style.paddingBottom = '0'
  scrollP = window.pageYOffset;

  icon.id.includes('profile')
    ? menuRt.style.right = '0'
    : menuLf.style.left = '0'

  
  mobileHeader.classList.add('open')
  const navv = document.getElementById('mobNav-left')
  setTimeout(()=>{
    document.querySelector('main').style.display = 'none'
  },400)
}

function closeNav(icon) {
  icon === 'close' || icon.id?.includes('profile')
    ? menuRt.style.right = '-100%'
    : menuLf.style.left = '-100%' 
  profileIcon.classList.remove('open')
  mobileHeader.classList.remove('open')
  document.querySelector('main').style.display = 'block'
  //body.style.position = 'initial';
  window.scrollTo(0, scrollP);  
}

</script>

<style>
  .close {
    z-index: 100000000;
    position: absolute;
    top: -32px;
  }

  a.c-headerMobile__menuNavLink:active,
  a.c-headerMobile__menuNavLink:hover {
    opacity: 0.9;
  }
</style>

{% schema %}
  {
    "name": "Header Mobile",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "id": "logo_image",
        "type": "image_picker",
        "label": "Logo Image"
      },
      {
        "id": "logo_text",
        "type": "text",
        "label": "Logo Text"
      },
      {
        "id": "profile_image",
        "type": "image_picker",
        "label": "Profile Image"
      },       
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "link_list",
        "id": "menu_list",
        "label": "Main Menu List"
      },
      {
        "type": "link_list",
        "id": "secondary_menu_list",
        "label": "Secondary Menu List"
      },
      {
        "type": "link_list",
        "id": "acct_menu_list",
        "label": "Account Menu List"
      },      
      {
        "type": "header",
        "content": "Promo"
      },
      {
        "id": "show_promo",
        "type": "checkbox",
        "label": "Show"
      },
      {
        "id": "promo_text",
        "type": "text",
        "label": "Promo Text"
      },
      {
        "id": "promo_link",
        "type": "url",
        "label": "Promo Link"
      },
      {
        "type": "header",
        "content": "Account"
      },
      {
        "id": "login_text",
        "type": "text",
        "label": "Login Text"
      },
      {
        "id": "account_text",
        "type": "text",
        "label": "Account Text"
      },
      {
        "type": "header",
        "content": "Bundle"
      },
      {
        "id": "bundle_heading",
        "type": "text",
        "label": "Bundle Heading"
      },      
      {
        "id": "bundle_copy",
        "type": "textarea",
        "label": "Bundle Copy"
      },       
      {
        "id": "bundle_text",
        "type": "text",
        "label": "Bundle Button"
      }
    ]
  }
{% endschema %}