{{ 'theme-footer-main.css' | asset_url | stylesheet_tag }}

<article class="c-homeBtm__banner">
  <section>
    <h2 class="c-h2">{{section.settings.banner_tagline}}</h2>
    <div class="c-homeBtm__form">
      <!-- Klaviyo Embed here -->
      <div class="klaviyo-form-Rv4S6s"></div>
    </div>
  </section>
</article>


<main class="c-footerMain" data-footer-main>
  <nav class="c-footerMain__wrapper o-containerLarge">
    <section class="c-footerMain__leftBrandContact">
      <div class="c-footerMain__logoBox">
        <div class="c-footerMain__logoSvg">
          {%- render 'icon-potg-logo' -%}
        </div>
      </div>

      {% if section.blocks %}
      <div class="c-footerMain__socialMediaLinks">
        {% for block in section.blocks %}
          {%- assign soc_url = block.settings.social_link | split: '.com' -%}
          {%- assign cut_www = soc_url[0] | split: 'https://www.' -%}
          {%- assign soc_icon = cut_www[1] | prepend: 'icon-' -%}
          <a href="{{ block.settings.social_link }}" target="_blank">
            {%- include soc_icon -%}
          </a>
        {% endfor %}
      </div>
      {% endif %}
      <div class="c-footerMain__contact">
        <h4 class="isBold">
          <a href="tel:{{section.settings.contact_phone}}">P: {{ section.settings.contact_phone }}</a>
        </h4>
        <div class="c-footerLegal__copyright">
          © {{ section.settings.copyright_text }}
        </div>
      </div>
    </section>

    <section class="c-footerMain__wrapperSub">
    {%- for link in linklists[section.settings.footer_menu].links -%}
      <section class="c-footerMain__mainMenu">
        <h4 class="c-h4">
          {{ link.title }}
          <span class="icon-opened">{% render 'icon-menu-open' %}</span>
          <span class="icon-closed">{% render 'icon-menu-closed' %}</span>
        </h4>
        {% if link.links != blank %}
          <div class="c-footerMain__subMenu">
          {%- for childlink in link.links -%}
            <a href="{{ childlink.url }}" class="c-footerMain__navigationLink">
              {{ childlink.title }}
            </a>
          {%- endfor -%}
          </div>
       {% endif %}
       </section>
    {%- endfor -%}
    </section>
  </nav>
</main>


<script>
const topLevelNavEls = document.querySelectorAll('.c-footerMain__mainMenu > h4');
const mediaMobile = window.matchMedia('(max-width: 767px)');

if (mediaMobile.matches) {
  topLevelNavEls[0].parentNode.classList.add('open')
}

topLevelNavEls.forEach((item) => {
  item.addEventListener('click', function(e) {
    e.preventDefault()
    item.parentNode.classList.toggle('open')
  })
});
</script>


{% schema %}
  {
    "name": "Footer Main",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "id": "logo_text",
        "type": "text",
        "label": "Logo Text"
      },
      {
        "type": "link_list",
        "id": "footer_menu",
        "label": "Menu List",
        "default": "footer"
      },
      {
        "id": "copyright_text",
        "type": "text",
        "label": "Copyright Text"
      },
      {
        "id": "contact_phone",
        "type": "text",
        "label": "Phone Number"
      },
      {
        "id": "contact_email",
        "type": "text",
        "label": "Email Address",
        "default": "hello@potg.com"
      },
      {
        "id": "banner_tagline",
        "type": "text",
        "label": "Tagline"
      },
      {
        "id": "btm_klayvio_link",
        "type": "text",
        "label": "Klayvio Link"
      }
    ],
    "blocks": [
        {
          "type": "social-media",
          "name": "Social Media Account",
          "settings": [
            {
              "id": "social_link",
              "type": "url",
              "label": "Social Media Link"
            }
          ]
        }
    ]
  }
{% endschema %}
