<main class="c-homeMenu">  
  <article class="o-containerMedium">

    <h2 class="c-h1"><span class="u-highlightText--secondary">Current</span> Menu</h2>

    <div class="c-homeMenu__flex">
      <section class="c-homeMenu__flex--item">
        {%- for block in section.blocks -%}
          <section class="c-homeFaqs__item">
            <button>
              {{block.settings.menu_title}}
              <span class="icon-opened">{% render 'icon-menu-open' %}</span>
              <span class="icon-closed">{% render 'icon-menu-closed' %}</span>
            </button>
            <div class="panel-answer">
              <p>{{block.settings.menu_body}}</p>
            </div>
          </section>          
        {%- endfor -%}
       </section>
       
       <section class="c-homeMenu__flex--item isGrid">
         <!-- img section 1 -->
         <div>
           <img src="{{section.settings.item_img_one | img_url: 'master' }}" alt="">
           <h4 class="c-h4 isSmaller">{{section.settings.item_title_one}}</h4>           
           <p>{{section.settings.item_copy_one}}</p>
         </div>
          
         <div>
           <!-- img section 2 -->
           <div>
             <img src="{{section.settings.item_img_two | img_url: 'master' }}" alt="">
             <h4 class="c-h4 isSmaller">{{section.settings.item_title_two}}</h4>
             <p>{{section.settings.item_copy_two}}</p>
           </div>
            <!-- img section 3 -->
           <div>
             <img src="{{section.settings.item_img_three | img_url: 'master' }}" alt="">
             <h4 class="c-h4 isSmaller">{{section.settings.item_title_three}}</h4>
             <p>{{section.settings.item_copy_three}}</p>
           </div>            
         </div>

       </section> 
    </div>

  </article>
</main>

<style>
  .c-homeMenu__flex {
    display: flex;
    grid-gap: 3rem;
  }

  .c-homeMenu .c-homeFaqs__item {
    width: 100%;
  }

  .c-homeMenu__flex--item {
    flex: 1;
  }

  .c-homeMenu__flex--item.isGrid {
    display: flex;
    grid-gap: 3rem;
    flex: 2;
  }

  .c-homeMenu__flex--item.isGrid > div {
    flex: 1;
    margin-bottom: 1.5rem;
  }

  .c-homeMenu__flex--item.isGrid > div:first-child {
   /* flex: 1.25;*/
  }

  .c-homeMenu__flex--item.isGrid > div p {
    color: $color-grey;
    font-size: 1rem;
  }

  .c-homeMenu__flex--item.isGrid > div h4 {
    margin: 0.5rem 0 0;
  }
</style>

<script>
  const menuWrapper = document.querySelectorAll('.c-homeMenu__item button');

  menuWrapper.forEach((item) => {
    item.addEventListener('click', function(e) {
      this.classList.toggle('active')
      const panel = this.nextElementSibling

      panel.style.maxHeight
      ? panel.style.maxHeight = null
      : panel.style.maxHeight = panel.scrollHeight + 'px'
    })
  });
</script>


{% schema %}
  {
    "name": "Menu Gridz",
    "settings": [  
      {
        "id": "item_img_one",
        "type": "image_picker",
        "label": "Item Image (Tall)"
      },       
      {
        "id": "item_title_one",
        "type": "text",
        "label": "Menu Title"
      },
      {
        "id": "item_copy_one",
        "type": "text",
        "label": "Menu Body"
      }, 

      {
        "id": "item_img_two",
        "type": "image_picker",
        "label": "Item Image"
      },       
      {
        "id": "item_title_two",
        "type": "text",
        "label": "Menu Title"
      },
      {
        "id": "item_copy_two",
        "type": "text",
        "label": "Menu Body"
      },

      {
        "id": "item_img_three",
        "type": "image_picker",
        "label": "Item Image"
      },       
      {
        "id": "item_title_three",
        "type": "text",
        "label": "Menu Title"
      },
      {
        "id": "item_copy_three",
        "type": "text",
        "label": "Menu Body"
      }                 
    ],
    "blocks": [
      {
        "type": "tile",
        "name": "Menu Fact",
        "settings": [           
          {
            "id": "menu_title",
            "type": "text",
            "label": "Menu Title"
          },
          {
            "id": "menu_body",
            "type": "textarea",
            "label": "Menu Body"
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": "Menu Gridd",
        "category": "Homepage"
      }
    ]      
  }
{% endschema %}