{{ 'theme-header-main.css' | asset_url | stylesheet_tag }}

{% assign logo_text = "{{ logo_text }}" %}
{% assign login_text = "{{ login_text }}" %}
{% assign account_text = "{{ account_text }}" %}
{% assign cart_text = "{{ cart_text }}" %}

{% if section.settings.logo_text != blank %}{% assign logo_text = section.settings.logo_text %}{% endif %}
{% if section.settings.login_text != blank %}{% assign login_text = section.settings.login_text %}{% endif %}
{% if section.settings.account_text != blank %}{% assign account_text = section.settings.account_text %}{% endif %}
{% if section.settings.cart_text != blank %}{% assign cart_text = section.settings.cart_text %}{% endif %}

<div class="c-headerMain" data-header-main>
  <div class="c-headerMain__wrapper o-containerLarge">
    <a href="/" class="c-headerMain__logo">
      <h1 class="c-headerMain__logoBox">
        {% if section.settings.logo_image %}
          <img class="c-headerMain__logoImage" 
            src="{{ section.settings.logo_image | img_url }}"
            alt="{{ section.settings.logo_image.alt }}" 
          />
        {% else %}
          <span class="c-headerMain__logoText">{{ logo_text }}</span>
        {% endif %}
      </h1>
    </a>
    <div class="c-headerMain__primary">
    </div>
    <div class="c-headerMain__secondary">
      {% if customer %}
        <a href="/account" class="c-headerMain__account">
          {% if section.settings.account_image %}
            <img class="c-headerMain__accountImage"
              src="{{ section.settings.account_image | img_url }}"
              alt="{{ section.settings.account_image.alt }}" 
            />
          {% else %}
            <span class="c-headerMain__accountText">{{ account_text }}</span>
          {% endif %}
        </a>
      {% else %}
        <a href="/account/login" class="c-headerMain__account">
          {% if section.settings.login_image %}
            <img class="c-headerMain__accountImage"
              src="{{ section.settings.login_image | img_url }}"
              alt="{{ section.settings.login_image.alt }}" 
            />
          {% else %}
            <span class="c-headerMain__accountText">{{ login_text }}</span>
          {% endif %}
        </a>
      {% endif %}
      <span class="c-headerMain__cart" data-cart-trigger>
        {% if section.settings.cart_image %}
          <img class="c-headerMain__cartImage"
            src="{{ section.settings.cart_image | img_url }}"
            alt="{{ section.settings.cart_image.alt }}" 
          />
        {% else %}
          <span class="c-headerMain__cartText">{{ cart_text }}</span>
        {% endif %}
      </span>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header Main",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "id": "logo_image",
        "type": "image_picker",
        "label": "Logo Image"
      },
      {
        "id": "logo_text",
        "type": "text",
        "label": "Logo Text"
      },
      {
        "type": "header",
        "content": "Account"
      },
      {
        "id": "login_text",
        "type": "text",
        "label": "Login Text"
      },
      {
        "id": "login_image",
        "type": "image_picker",
        "label": "Login Image"
      },
      {
        "id": "account_text",
        "type": "text",
        "label": "Account Text"
      },
      {
        "id": "account_image",
        "type": "image_picker",
        "label": "Account Image"
      },
      {
        "type": "header",
        "content": "Cart"
      },
      {
        "id": "cart_image",
        "type": "image_picker",
        "label": "Cart Image"
      },
      {
        "id": "cart_text",
        "type": "text",
        "label": "Cart Text"
      }
    ]
  }
{% endschema %}