<article class="c-homeSplit">
  <section class="c-homeSplit__left">
    <img src="{{ section.settings.left_image | img_url: 'master' }}" alt="">    
  </section>
  <section class="c-homeSplit__right">
    <div>
      <img src="{{ section.settings.icon | img_url: 'master' }}" alt="">
      <h2 class="c-h2 clamp-size__h2">
        {{ section.settings.title }}
      </h2>
      <p>{{ section.settings.copy }}</p>
      <a href="{{ section.settings.button_url }}" class="c-button c-button--isDefault c-button--isSecondary">
        {{ section.settings.button_text }}
      </a>
    </div>
  </section>
</article>



{% schema %}
  {
    "name": "Split Section",
    "settings": [
      {
        "id": "left_image_mobile",
        "type": "image_picker",
        "label": "Background Image (Mobile)"
      },
      {
        "id": "left_image",
        "type": "image_picker",
        "label": "Background Image (Desktop)"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "label": "Icon"
      },      
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "copy",
        "type": "text",
        "label": "Copy"
      },             
      {
        "id": "button_text",
        "type": "text",
        "label": "Button Text"
      },
      {
        "id": "button_url",
        "type": "url",
        "label": "Button URL"
      }                                            
    ],    
    "presets": [
      {
        "name": "Split Section",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
