<article class="c-topHero js-homepage">

  <section class="c-topHero__ctaWrap">
    <h1 class="c-h1">{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
    <div class="u-spacer--md u-hideTabletDown"></div>
    <button class="c-button c-button--isDefault c-button--isPrimary c-button--lrg" data-get-started data-boxsize='12'>
      {{section.settings.cta_text}}
    </button>
  </section>

  <section 
    class="c-topHero__imgWrap"
    style="background-image: url('{{section.settings.bg_image | img_url: 'master' }}')">
  </section>

</article>

<marquee class="marquee" scrollamount="12">
  {% for block in section.blocks %}
    <span>{{ block.settings.marquee_word }}</span>
    <span class="circle-dot"></span>
  {% endfor %}
  {% for block in section.blocks %}
    <span>{{ block.settings.marquee_word }}</span>
    <span class="circle-dot"></span>
  {% endfor %}
</marquee>

<script>
  const marquee = document.querySelector('.marquee')
  if(window.innerWidth < 992) marquee.setAttribute('scrollamount', 6, 0)
</script>


{%- schema -%}
  {
    "name": "Hero Section",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Subheading"
      },
      {
        "id": "cta_text",
        "type": "text",
        "label": "CTA Text",
        "default": "Get Started"
      },      
      {
        "id": "cta_url",
        "type": "url",
        "label": "CTA URL"
      },
      {
        "id": "bg_image_mobile",
        "type": "image_picker",
        "label": "Background Image (Mobile)"
      },
      {
        "id": "bg_image",
        "type": "image_picker",
        "label": "Background Image (Desktop)"
      }      
    ],
    "max_blocks": 4,
    "blocks": [
        {
          "type": "text",
          "name": "Marquee Elements",
          "settings": [           
            {
              "id": "marquee_word",
              "type": "text",
              "label": "Marquee Word"
            }
          ]
        }
    ],
    "presets": [
      {
        "name": "Hero Section",
        "category": "Homepage"
      }
    ]
  }
{%- endschema -%}

<style>
  .c-reviewsSection__cta {
    color: purple;
  }
</style>
