<style>
  .c-hero__imgBg {
    background-image: url("{{ section.settings.bg_image_mobile | img_url: 'master' }}");
  }
  @media only screen and (min-width: 768px) {
    .c-hero__imgBg {
      background-image: url('{{section.settings.bg_image | img_url: 'master' }}');
    }
  }
</style>

<article>
  <section class="c-hero__imgBg">
    <div class="c-hero__imgBg--copy">
      {% if section.settings.show_flair %}
        <svg width="74" height="6" viewBox="0 0 74 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M77 0H0V6H77V0Z" fill="#231F20"/>
        </svg>
      {% endif %}
      <h2 class="c-h1">{{ section.settings.title }}</h2>
      {% if section.settings.show_flair %}
        <svg width="79" height="43" viewBox="0 0 83 43" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M83 22.5193L39.9507 0L20.4626 19.6129H0V25.3871H20.4626L39.9507 45L83 22.5193ZM41.081 7.12149L64.8176 19.5359H28.706L41.081 7.12149ZM64.8176 25.3486L41.081 37.7631L28.706 25.4256L64.8176 25.3486Z" fill="#231F20"/>
        </svg>
      {% endif %}
    </div>

    <a href="{{ section.settings.button_url }}" 
      class="c-button c-button--isDefault c-button--isPrimary">
      {{ section.settings.button_text }}
    </a>
  </section>
</article>

{% schema %}
  {
    "name": "Bottom Hero",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title (20 characters max)",
        "default": "Hungry?"
      },
      {
        "id": "bg_image_mobile",
        "type": "image_picker",
        "label": "Background Image (Mobile)"
      },
      {
        "id": "bg_image",
        "type": "image_picker",
        "label": "Background Image (Desktop)"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button Text"
      },
      {
        "id": "button_url",
        "type": "url",
        "label": "Button URL"
      },
      {
        "id": "show_flair",
        "type": "checkbox",
        "label": "Show Flair",
        "default": true
      }                                                
    ],    
    "presets": [
      {
        "name": "Bottom Hero",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}