{% assign customerTags = customer.tags | join:',' %}

<article class="c-homePlans">

  <span class="c-homePlans__floatingBadge">
    <img src="{{ section.settings.badge_image | img_url: 'master' }}" alt="">  
  </span>    

  <div class="c-homePlans__inner">
    <div>
      <h2 class="c-h1">{{section.settings.title}}</h2>
      <p>{{section.settings.copy}}</p>
    </div>

    <a href="#" target="_blank" data-get-started
      class="c-button c-button--isDefault c-button--isPrimary c-button--lrg u-hideTabletUp u-marginCenter u-marginTop--md">
      Get Started
    </a>

    <div class="u-spacer--xl"></div>

    <div class="u-relative">
      <div class="c-homePlans__subs-title">
        Subscribe &amp; Save
      </div>

      <div class="c-plansGrid">
        {% for block in section.blocks %}

          <section class="c-plansGrid__plan">
            {% if block.settings.show_flag %}
              <span class="c-plansGrid__plan--flag">{{block.settings.flag_text}}</span>
            {% endif %}
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
            <h2 class="c-h2">10 Items</h2>
            <div>
              <span class="c-plansGrid__plan--savings">10% Savings</span>
            </div>
            <button class="c-button c-button--isDefault c-button--isPrimary" data-get-started>
              {{block.settings.button}}
            </button>
          </section>

        {% endfor %}
      </div>  
    </div>

    <h4 class="c-h4 isSmaller">{{section.settings.lower_callout}}</h4>
    <a href="{{section.settings.onetimes_url}}" class="u-textUnderline">Buy One Time</a>
  </div>
</article>


{% schema %}
  {
    "name": "Plans",
    "settings": [
      {
        "id": "badge_image",
        "type": "image_picker",
        "label": "Badge Image"
      },      
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Your Plan, Your Way"
      },
      {
        "id": "copy",
        "type": "richtext",
        "label": "Copy"
      },
      {
        "id": "lower_callout",
        "type": "text",
        "label": "Lower Callout"
      },
      {
        "id": "onetimes_url",
        "type": "url",
        "label": "Onetimes URL"
      }                   
    ],
    "blocks":[
      {
        "type": "tile",
        "name": "Plan",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "button",
            "type": "text",
            "label": "Button Text"
          },
          {
            "type": "header",
            "content": "Custom Product Flag"
          },          
          {
            "id": "show_flag",
            "type": "checkbox",
            "label": "Show Flag"
          },
          {
            "id": "flag_text",
            "type": "text",
            "label": "Flag Text"
          }          
        ]
      }
    ],    
    "presets": [
      {
        "name": "Plans",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}