{% form 'contact' %}
<div id="contactFormWrapper" class="contactFormWrapper">
  <section class="contactFormWrapper--header">
    <div class="contactFormWrapper--field">
      <p>
        <!-- <label>{{ 'contact.form.name' | t }}</label> -->
        <label>Name*</label>
        <input type="text" id="contactFormName" class="c-input c-input--isDefault" name="contact[name]" placeholder="Customer" required />
      </p>
    </div>
    <div class="contactFormWrapper--field">
      <p>
        <!-- <label>{{ 'contact.form.email' | t }}</label> -->
        <label>Email*</label>
        <input type="email" id="contactFormEmail" class="c-input c-input--isDefault" name="contact[email]" placeholder="Email Address" required />
      </p>
    </div>
    <div class="contactFormWrapper--field">
      <p>
        <!-- <label>{{ 'contact.form.phone' | t }}</label> -->
        <label>Phone</label>
        <input type="text" id="contactFormTelephone" class="c-input c-input--isDefault" name="contact[phone]" placeholder="Phone Number" />
      </p> 
    </div>    
  </section>
  <div class="contactFormWrapper--field">
    <p>
      <label>Subject*</label>
      <input type="text" id="contactFormSubject" class="c-input c-input--isDefault" name="contact[subject]" placeholder="Headline Title" required />
    </p>
  </div>  
  <div class="contactFormWrapper--field">
    <p>
      <!-- <label>{{ 'contact.form.message' | t }}</label> -->
      <label>Message*</label>
      <textarea rows="12" cols="80" id="contactFormMessage" class="c-input c-input--isDefault" style="height: auto" name="contact[body]" placeholder="Let us know how we can help you have a 5-star experience with Paleo on the Go!" required></textarea> <!-- {{ 'contact.form.message' | t }} -->
    </p>
    <p>
      <input type="submit" id="contactFormSubmit" class="c-formLogin__button c-form__submit
        c-button 
        c-button--isDefault
        c-button--isPrimary button" value="Submit" />
    </p> 
  </div>
</div>

<div class="clear"></div>


{% if form.posted_successfully? %}
<div class="successForm feedback">
  <p>Message sent!</p>
</div>
<script>
  setTimeout(()=> location.reload(), 5000)
</script>
{% endif %}

{% if form.errors %}
<div class="errorForm feedback">
  <p>We're sorry! Message not sent</p>
</div>
<script>
  setTimeout(()=> location.reload(), 5000)
</script>
{% endif %}

{% endform %}      

<div class="clear"></div>

{% if settings.show-map %}
<div id="gmap" class="desktop-12 tablet-6 mobile-3">
    {{ settings.map }}
</div>
{% endif %}
