{% assign heading = "Forgot Password" %}
{% assign text = "Choose a weekly meal plan that fits your lifestyle. Unlock exclusive savings on subscription plans – the more you buy the more you save!" %}
{% assign success_text = "We sent you an email to reset your password" %}
{% assign email_placeholder = "Email" %}
{% assign submit_button = "Submit" %}

{% if section.settings.heading != blank %}{% assign heading = section.settings.heading %}{% endif %}
{% if section.settings.text != blank %}{% assign text = section.settings.text %}{% endif %}
{% if section.settings.success_text != blank %}{% assign success_text = section.settings.success_text %}{% endif %}
{% if section.settings.email_placeholder != blank %}{% assign email_placeholder = section.settings.email_placeholder %}{% endif %}
{% if section.settings.forgot_password_link != blank %}{% assign forgot_password_link = section.settings.forgot_password_link %}{% endif %}
{% if section.settings.register_text != blank %}{% assign register_text = section.settings.register_text %}{% endif %}
{% if section.settings.register_link != blank %}{% assign register_link = section.settings.register_link %}{% endif %}
{% if section.settings.submit_button != blank %}{% assign submit_button = section.settings.submit_button %}{% endif %}

<div class="c-formRecover c-form c-form--wood c-form--isWide u-hide"
  data-form-recover
>
  <div class="c-form__container o-pageNarrow">
    <h1 class="c-formRecover__heading c-h1 c-form__heading u-textCenter">
      {{ heading }}
    </h1> 
      <p class="c-formRecover__text c-p2 c-form__text u-textCenter">
        {{ text }}
      </p>
    <div class="c-formRecover__content c-form__content">
      {% form 'recover_customer_password' %}
        {%- if form.errors -%}
          <div class="c-formRecover__alert c-form__alert c-form__alert--isError">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
        {%- if form.posted_successfully? -%}
          <div class="c-formRecover__alert c-form__alert c-form__alert--isSuccess">
            {{ success_text }}
          </div>
        {%- endif -%}
        <div class="c-formRecover__field c-field">
          <input 
            class="c-formRecover__input c-input c-input--isDefault c-input--squared"
            type="email" 
            name="email" 
            placeholder="{{ email_placeholder }}"
          />
        </div>
        <button class="c-formRecover__button c-form__submit c-cta c-cta--extraTall"
          type="submit"
        >
          {{ submit_button }}
        </button>
      {%- endform -%} 

       <div class="c-formRegister__sub c-form__sub">
        <p class="c-formRegister__forgot c-p3 c-form__subText">
          {{ section.settings.get_started_text }}
          <a href="{{ section.settings.get_started_link}}" class="c-formRegister__forgotLink c-form__subLink"
            data-form-recover-trigger
          >
            {{ section.settings.get_started_label }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Form Recover",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"
      },
      {
        "id": "text",
        "type": "text",
        "label": "Text"
      },
      {
        "id": "successs_text",
        "type": "text",
        "label": "Success Text"
      },
      {
        "id": "email_placeholder",
        "type": "text",
        "label": "Email Placeholder"
      },
      {
        "id": "submit_button",
        "type": "text",
        "label": "Submit Button"
      },
      {
        "id": "register_text",
        "type": "text",
        "label": "Register Text"
      },
      {
        "id": "register_link",
        "type": "text",
        "label": "Register Link"
      },
      {
        "id": "remember_password_link",
        "type": "text",
        "label": "Remember Password Link"
      },
      {
        "id": "get_started_text",
        "type": "text",
        "label": "Get Started Text"
      },
      {
        "id": "get_started_label",
        "type": "text",
        "label": "Get Started Label"
      },
      {
        "id": "get_started_link",
        "type": "page",
        "label": "Get Started Link"
      }
    ]
  }
{% endschema %}